.contactUs_container {
    height: 100vh;
}

.contactUs__wrapper {
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.show__menu {
    width: 80%;
}

.hide__menu {
    width: 100%;
}

.contactUs__heading {
    position: absolute;
    top: 15%;
    font-family: Comfortaa;
    font-size: 36px;
    letter-spacing: -0.05em;
}

.contactUs__wrapper {
    input {
        font-family: Comfortaa;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    legend {
        font-size: 0.85em;
    }
}

.contactUs__wrapper label {
    font-family: Comfortaa;
}

.contactUs__wrapper fieldset {
    border-radius: 11px;
}

.save__button__wrapper {
    top: 75%;

    .button__component {
        width: 180px;
    }
}

.cancel__button {
    top: 82%;
}
