.left-bar-conatainer {
    height: 90vh;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .resize-button-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        svg {
            margin: 5px 5px 0 0;
        }
    }

    .radio-buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        div {
            display: flex;
            align-items: center;
            width: 100%;

            .box-input {
                width: 70%;
                height: 18px;

                margin-right: 5px;
            }
        }
    }

    .anotation-button-container {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 70%;
        height: 34px;

        border: 1px solid #a8a7a7;
        box-sizing: border-box;
        border-radius: 30px;

        margin: auto;
        margin-top: 15px;

        .anotation-button {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 98%;
            height: 30px;

            background-color: lightgray;
            border: 1px solid #a8a7a7;
            box-sizing: border-box;
            border-radius: 30px;
            cursor: pointer;

            font-family: PT Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            /* identical to box height */

            color: #4d4f5c;
            margin: auto;
        }
    }

    .photos-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        div {
            width: 94%;
            height: 155px;

            box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
            margin: 20px 0 5px 0;

            .label-photo {
                display: flex;
                flex-wrap: wrap;

                width: 94%;
                height: 100px;

                margin: 20px auto 10px auto;

            }

            label {
                margin-left: 23px;
            }
        }
    }

    .icons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 50px;
            height: 50px;

            margin-top: 25px;
        }
    }
}

.full {
    width: 18%;
}

.min {
    width: 6%;
}
