.anotationToolBox {
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.dropboxDiv{
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px 10px;
  min-width: 50% !important;
  min-height: 50px;
  max-height: 50px;
  position: relative;
  top: 0;
  color: #ccc;
  font-size: larger;
  background: rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 50% !important;
  z-index: 999;
}

.PF{
  position: fixed;
  max-width: 512px;
  background-color: #333;
}

.DN{
  display: none !important;
}

.anoImageBox{
  width: 512px;
  height: 512px; 
  overflow: 'auto';
  position: 'absolute';
}
