.registration_container {
    height: 100vh;
}

.form_wrapper {
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    width: 244px;
    height: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 40px;
    /* identical to box height, or 154% */

    text-align: center;

    color: #000000;
}

// .name_div,  .surname_div, .email_div, .new_password_div, .repeat_password_div {
//     width: 482px;
//     height: 40px;

//     font-family: Roboto;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 40px;
//     /* identical to box height, or 286% */

//     display: flex;
//     align-items: center;
//     text-align: center;

// }

.name_input,
.surname_input,
.email_input {
    width: 482px;
    height: 40px;

    border: 0.5px solid lightgray;
    box-sizing: border-box;
    border-radius: 13px;

    outline: none;

    padding: 10px;
    margin: 15px;
}

.error_message {
    width: 482px;
    color: red;

    margin-top: 3px;
    margin-bottom: 3px;
}

.submit_button {
    width: 162px;
    height: 33px;

    background: #257aaf;
    border: 1px solid #257aaf;
    box-sizing: border-box;
    border-radius: 13px;

    color: white;
}

.pass_wrapper {
    display: flex;
}

.new_password_input {
    width: 442px;
    height: 40px;

    border: 0.5px solid lightgray;
    border-right: none;
    box-sizing: border-box;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
    outline: none;

    padding: 10px;
    margin: 15px;
    margin-right: 0px;
}

.pass_button {
    width: 40px;
    height: 40px;

    border: 0.5px solid lightgray;
    border-left: none;

    box-sizing: border-box;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;

    outline: none;
    background-color: white;

    padding: 5px;
    margin: 15px;
    margin-left: 0px;
}

/* .submit_text {
    position: absolute;
    width: 134.32px;
    height: 40px;
    left: calc(50% - 134.32px/2 - 0px);
    top: calc(50% - 40px/2 + 242px);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    mix-blend-mode: normal;
} */

.accept-policy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 21px 0 10px 15px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;

        // width: 474px;

        // margin: 21px 0 0 15px;

        .policy-checkbox {
            margin-right: 5px;
        }

        .policy-container {
            line-height: 1.6;
            text-align: center;

            .terms {
                text-decoration: underline;
                cursor: pointer;

                margin-right: 5px;
                margin-left: 5px;
            }

            .policy {
                text-decoration: underline;
                cursor: pointer;

                margin-left: 5px;
            }
        }
    }
}
