.upgrade_item1_container {
    height: 560px;
    width: 330px;
}

.upgrade_item1_header {
    height: 72px;
    width: 51px;

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 72px;

    letter-spacing: -0.581818px;

    margin-left: 28px;
    margin-top: 11px;
}

.upgrade_item1_text {
    height: 81px;
    width: 279px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: -0.581818px;

    margin-left: 25px;

    color: #4D4F5C;
}

.from {
    height: 26px;
    width: 25px;
    margin-left: 45px;

    font-family: Inter;
    font-size: 12px;
    line-height: 52px;
}

.price {
    height: 46px;
    width: 33px;
    margin-left: 39px;

    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.581818px;
}

.per_month {
    height: 26px;
    width: 25px;

    font-family: Inter;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: -0.581818px;
}

.annual_build {
    height: 26px;
    width: 74px;

    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;

    letter-spacing: -0.581818px;

    color: #4D4F5C;

    margin-left: 33px;
}

.upgrade_item1_button_container {
    height: 35%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.upgrade_item1_button {
    height: 60px;
    width: 260px;

    background: #FE4D61;
    border: 0.3px solid #FE4D61;
    border-radius: 4px;

    color: white;
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;

    letter-spacing: -0.581818px;
}