.header1 {
    width: 50%;
    height: 60px;
    position: relative;

    
}

.manot-logo-button {
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.manot-logo {
    position: absolute;
    left: 3.47%;
    right: 93.54%;
    top: 0.88%;
    bottom: 93.5%;
}

.button-container {
    position: absolute;
    left: 85.47%;
    top: 49.88%;
}

.button-container button {
    border-radius: 30px;
}