.import-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 690px;
}

.header-text {
    height: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.small-header {
    height: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.import-button {
    width: 305px;
    height: 185px;

    background: #257aaf;
    border-radius: 13px;

    outline: none;
    border: none;
}

.import-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;

    color: #ffffff;
}
