.comp-desktop {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;

  height: 100vh;
  width: 100%;

  .user_header_desktop {
    height: 30%;
  }

  .main-content-container {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    margin-bottom: 15px;

    width: 95%;
    height: 75%;
  }

  .desktop__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 90px;

    span {
      font-family: Comfortaa;
      font-size: 28px;
      letter-spacing: -0.05em;
      text-align: center;
    }
  }

  .radio-buttons-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    left: 25%;

    margin-top: 10px;

    .button__component {
      width: 15.5%;
      height: 46px;

      position: relative;
      left: 8%;
      background: #8924bf;
      border-radius: 13px;

      font-family: Comfortaa;
      font-size: 19px;
      letter-spacing: -0.05em;
      color: #fff;
      cursor: pointer;
    }
  }

  .desktop__first__line {
    width: 7%;
  }

  .desktop__second__line {
    width: 73%;
  }

  .radio-buttons-label {
    font-size: 14px;
  }
}
