.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.manot-logo {
    width: 58px;
    height: 61px;
    margin-top: 18px;
    margin-left: 28px
}

.user-name {
    width: 140px;
    height: 40px;
    margin-top: 28px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 222% */

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;

    color: #000000;
}

.menu_link {
    color: white;

    text-decoration: none;
}