.right_bar_conatainer {
    width: 18%;

    background-color: white;
}

.paper_inner_div {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_part {
    margin-left: 5px;

    font-size: 14px;
}

.counter_part {
    margin-right: 5px;

    font-size: 14px;
}

.fourth_text_part {
    margin-left: 5px;

    font-size: 14px;
    line-height: 17px;
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.single_annotation_btn_container {
    position: absolute;
    bottom: 7%;

    .single_annotation_btn_border {
        height: 34px;
        width: 168px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid #257AAF;
        border-radius: 30px;

        .single_annotation_btn {
            height: 30px;
            width: 164px;

            background-color: #257AAF;
            color: white;

            border-radius: 30px;
        }
    }
}